<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매 관리 페이지</title>
</head>
<body>
    <div class="sale">
        <div class="sale-info-container">
            <script defer src="js/krh_sale_stock.js"></script>
            <!-- <h1>판매 관리</h1> -->
            <div style="width: 100%; display: flex; text-align: left;">
                <h1 class="boardListTitle-admin" style="width: 100%; display: flex; text-align: left;">판매 정보</h1></div>
                <!-- <div class="list"> -->
                    <form name="frm" class="frm search" method="post" style="width: 100%; display: flex; justify-content: right; margin-bottom: 12px;">
                        <input type="text" name="findStr" class="underline-textbox findStr" style="margin-right: 15px;" placeholder="검색어를 입력하세요.">
                        <button type="button" class="btnSearch purple-text-button">검색</button>
                    </form>
                    <div class="item_list">
                        <div class="item_title contentTitle">
                            <span class="CustomerId">고객 아이디</span>
                            <span class="ProductCode">제품 코드</span>
                            <span class="ProductName">제품 명</span>
                            <span class="price">판매가</span>
                            <span class="ea">수량</span>
                            <span class="amt">판매 금액</span>
                            <span class="nal">판매 일자</span>
                            <span class="saleList">판매 내역서</span>
                        </div>
                    <div class="items"> 
                        <div class="item" th:each="d:${sale}">
                            <span class="CustomerId" th:onClick="sale_view([[${d.sno}]])">[[${d.id}]]</span>
                            <span class="ProductCode" th:onClick="sale_view([[${d.sno}]])">[[${d.ProductCode}]]</span>
                            <span class="ProductName" th:onClick="sale_view([[${d.sno}]])">[[${d.ProductName}]]</span>
                            <span class="price" th:onClick="sale_view([[${d.sno}]])">[[${d.price}]]</span>
                            <span class="ea" th:onClick="sale_view([[${d.sno}]])">[[${d.ea}]]</span>
                            <span class="amt" th:onClick="sale_view([[${d.sno}]])">[[${d.ea*d.price}]]</span>
                            <span class="nal" th:onClick="sale_view([[${d.sno}]])">[[${d.nal}]]</span>                
                            <span class="saleList" th:onClick="sale_list([[${d.sno}]])">보기<span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <!-- </div> -->
</body>
</html>