<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매 페이지</title>
    <link rel="stylesheet" href="css/krh/krh.css">
    <script defer src="js/krh_sale_stock.js"></script>
    <script src="http:///code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="sale">
        <h1>판매 페이지</h1>
        <div class="salepage">
            <div class="change">
                <!--검색 기준-->
                <div class="salepagesearch">
                    <div class="sort">
                        <a href="#" class="cheap">가격 낮은 순</a> |
                        <a href="#" class="expensive">가격 높은 순</a> |
                        <a href="#" class="new">신상품순</a> |
                        <a href="#" class="original">추천순</a>
                    </div>
                    <form name="frm" class="frm" method="GET">
                        <input type="text" name="findStr" class="findStr" placeholder="검색어를 입력하세요.">
                        <button type="button" class="btnSearch">검색</button>
                    </form>
                </div>
            </div>
            <hr/>
            <div class="salepagelist">
                <ul class="salepageproduct" th:each="f:${list}" onClick="view2('${f.ProductName}')">
                    <li class="salepageproducteach">
                        <!--지원언니가 제품등록하면 해당 정보가 넘어오게..-->
                        <th:block th:each="j:${vo.photos}">
                            <img src="[[${j.photo}]]" width="200px" height="200px">
                        </th:block>
                        <br/>
                        <span class="name">[[${f.ProductName}]]</span>
                        <br/>
                        <span class="explanation">[[${f.ProductExplanation}]]</span>
                        <br/>
                        <span class="price">[[${f.price}]]</span><span class="won">원</span>
                    </li>
                    <li class="salepageproducteach">
                        <!--지원언니가 제품등록하면 해당 정보가 넘어오게..-->
                        <th:block th:each="j:${vo.photos}">
                            <img src="[[${j.photo}]]" width="200px" height="200px">
                        </th:block>
                        <br/>
                        <span class="name">오렌지</span>
                        <br/>
                        <span class="explanation">달달한 오렌지</span>
                        <br/>
                        <span class="price">9800</span> <span class="won">원</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>