<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매 물품 상세 페이지 </title>
    <link rel="stylesheet" href="css/krh/krh.css">
    <script defer src="js/krh_sale_stock.js"></script>
    <script src="http:///code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="salepageview">
        <div class="viewleft">
            <!--사진은 등록할 때의 모든 사진을 갖고 오기..-->
            <th:block th:each="k:${vo.photos}">
                <div class="main-image">
                    <img id="mainImage" src="[[${k.photo}]]" width="350px" height="350px">
                </div>    
                <div class="detailimage">
                    <img src="[[${k.photo}]]" width="100px" height="100px" onClick="changeImage('[[${k.photo}]]')">
                    <img src="[[${k.photo}]]" width="100px" height="100px" onClick="changeImage('[[${k.photo}]]')">
                </div>
            </th:block>
        </div>
        <div class="viewright">
            <div class="name">[ [[${vo.ProductId}]] ] / [[${vo.ProductName}]]</div>
            <hr/>
            <div class="price">[[${vo.price}]] <span class="won">원</span></div>
            <hr/>
            <div class="spec">[[${vo.spec}]]</div>
            <hr/>
            <div class="number">
                [[${vo.ProductName}]] / [[${vo.price}]]] &nbsp;
                <input type="number" min="1" max="50" id="quantity">
            </div>
            <hr/>
            <div class="amt">합계 : [[${vo.amt}]] <span class="won">원</span></div>  
            <div class="buy">
                <form>
                    <button type="button" class="btnBuy">바로 구매</button>
                </form>
            </div>
        </div>
        <div class="viewbottom">
            [[${vo.ProductExplanationLong}]]     
        </div>
    </div>
</body>
</html>