<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매 내역서</title>
</head>
<body>
    <div class="sale">
        <div class="salelist" style="margin-top: 80px; margin-bottom: 40px;
        border: 1px solid black;  width: 580px; text-align: center; padding-bottom: 30px; margin: 0 auto; margin-bottom: 10px;" >
            <!-- <link rel="stylesheet" href="css/krh/krh.css"> -->
            <link rel="stylesheet" href="css/ojw/ojw.css">
            <script defer src="js/krh_sale_stock.js"></script>
            <!-- <script src="http:///code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script> -->


            <div class="list">
                <h2 style="margin-top: 35px; margin-bottom: 35px;">판매 내역서</h2>
                <table class="table_list">
                    <tr>
                        <td>주문일</td>
                        <td colspan="3" style="letter-spacing: 2px;">[[${vo.s_nal}]]</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="letter-spacing: 7px; font-size: 15px;">고객 정보</td>
                    </tr>
                    <tr>
                        <td>&nbsp;고객 주소</td>
                        <td style="font-weight: 200; letter-spacing: 2px;">[[${vo.userJibunAddress}]] [[${vo.userAddressDetail}]]</td>
                        <td>전화번호</td>
                        <td class="photenumber" style="font-weight: 200; letter-spacing: 2px;">[[${vo.userPhone1}]]-[[${vo.userPhone2}]]-[[${vo.userPhone3}]]</td>
                    </tr>
                    <tr>
                        <td>성명</td>
                        <td style="font-weight: 200; letter-spacing: 2px;">[[${vo.userName}]]</td>
                        <td>이메일</td>
                        <td class="email" style="font-weight: 200; letter-spacing: 2px;">[[${vo.userEmail}]] @ [[${vo.userEmail2}]]</td>
                    </tr>
                    <tr>
                        <td>No.</td>
                        <td colspan="2" class="list_product">품목</td>
                        <td class="list_ea">수량</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td colspan="2" class="list_product">[[${vo.s_ProductName}]]</td>
                        <td class="list_ea">[[${vo.s_ea}]]</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td colspan="2" class="list_product"></td>
                        <td class="list_ea"></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td colspan="2" class="list_product"></td>
                        <td class="list_ea"></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td colspan="2" class="list_product"></td>
                        <td class="list_ea"></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td colspan="2" class="list_product"></td>
                        <td class="list_ea"></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td colspan="2" class="list_product"></td>
                        <td class="list_ea"></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td colspan="2" class="list_product"></td>
                        <td class="list_ea"></td>
                    </tr>
                    <tr>
                        <td>총액</td>
                        <td colspan="2">[[${vo.s_price*vo.s_ea}]] 원</td>
                    </tr>
                </table>
            </div>
            <div style="display: flex; justify-content: center; margin-top: 30px; margin-bottom: 10px;">
                <button type="button" class="purple-text-button btnList" style="margin-right: 20px;">목록</button>
                <button type="button" class="purple-text-button" onclick="window.print()">출력</button>
            </div>
        </div>

    </div>
</body>
</html>