<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매 상세보기</title>
    <link rel="stylesheet" href="css/krh/krh.css">
    <script defer src="js/krh_sale_stock.js"></script>
    <script src="http:///code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <style>
        .saleviewlist:hover{
            cursor: pointer;
            text-decoration: underline;
            color:blue;
        }
    </style>
</head>
<body>
    <div class="sale">
        <div class="saleview">
            <h2>판매 내역 상세 보기</h2>
            <!--지언니가 등록한..사진..대표사진..-->
            
            <img src="[[${p.photo}]]" width="200px" height="200px">
            
            <!--controller에서 연결받기..-->
            <table class="saleviewtable">
                <tr>
                    <th>고객 아이디</th>
                    <td>[[${vo.CustomerId}]]</td>
                </tr>
                <tr>
                    <th>제품 코드</th>
                    <td>[[${vo.ProductCode}]]</td>
                </tr>
                <tr>
                    <th>제품 명</th>
                    <td>[[${vo.ProductName}]]</td>
                </tr>
                <tr>
                    <th>판매가</th>
                    <td>[[${vo.price}]]</td>
                </tr>
                <tr>
                    <th>판매 수량</th>
                    <td>[[${vo.ea}]]</td>
                </tr>
                <tr>
                    <th>판매 금액</th>
                    <td>[[${vo.amt}]]</td>
                </tr>
                <tr>
                    <th>판매 일자</th>
                    <td>[[${vo.nal}]]</td>
                </tr>
                <tr>
                    <th>판매 내역서</th>
                    <td class="saleviewlist"><a href="sale_list.html" style="border: none;">보기</a></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="button" class="btnModify">수정</button> <!--sale_view_modify.html로 연결-->
                        <button type="button" class="btnDelete">삭제</button> 
                        <button type="button" class="btnList">취소</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>