<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매 상세보기</title>
    <!-- <style>
        .saleviewlist:hover{
            cursor: pointer;
            text-decoration: underline;
            color:blue;
        }
        </style> -->
</head>
<body>
    <div class="sale">
        <div class="saleview">
            <!-- <link rel="stylesheet" href="css/krh/krh.css"> -->
            <script defer src="js/krh_sale_stock.js"></script>
            <!-- <script src="http:///code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script> -->
            
            

            <div style="display:flex; justify-content: space-between; margin-bottom: 40px;">
                <!-- * 프로필 대표 이미지 부분 * -->
                <div class="user-profile-block purchase-image-block no-drag" style="margin-right: 25px;">
                    <div class="profile-border mypage-profile-border">
                        <div class="profile-border1 mypage-profile-border3"></div>
                        <div class="profile-border1 mypage-profile-border1"></div>
                    </div>
                    <div class="profile-border1 mypage-profile-border2"></div>
                    <img class="repre mypage-profile-image" th:src="|ojw_upload/${vo.photo}">
                    <!-- <img src="https://picsum.photos/200" class="mypage-profile-image" alt="User Profile Image"> -->
                </div>
                <!-- * 페이지 제목 * -->
                <div style="margin-top: 130px; width: 95%; flex-direction: column; display: flex; justify-content: end;">
                    <h1 class="myPageTitle"
                        style="width: 100%; margin-bottom: 28px; text-align: right; letter-spacing: 7px; font-size: 50px;">[[${vo.ProductName}]]</h1>
                        <div style="width: 100%; display: flex; justify-content: right;">
                            <div style="width: 90%; text-align: right; margin-top:6px;">
                                <hr style="border: 0.2px solid var(--purple); filter: blur(6px); margin-bottom: 8px;">
                            </div>
                        </div>
                        <div style="width: 100%; display: flex; justify-content: right;">
                            <div style="width: 100%; text-align: right; margin-top:0px;">
                                <hr style="border: 1.8px solid var(--purple); filter: blur(6px);">
                            </div>
                        </div>
                </div>
            </div>


        
            <div>
                <div class="mypage-table">
                    <div class="mypage-table-left">고객 아이디</div>
                    <div class="mypage-table-right">[[${vo.id}]]</div>
                </div>
                <div class="mypage-table">
                    <div class="mypage-table-left">제품 코드</div>
                    <div class="mypage-table-right">[[${vo.ProductCode}]]</div>
                </div>
                <div class="mypage-table">
                    <div class="mypage-table-left">판매가</div>
                    <div class="mypage-table-right">[[${vo.price}]] 원</div>
                </div>
                <div class="mypage-table">
                    <div class="mypage-table-left">판매 수량</div>
                    <div class="mypage-table-right">[[${vo.ea}]] 개</div>
                </div>
                <div class="mypage-table">
                    <div class="mypage-table-left">총액</div>
                    <div class="mypage-table-right">[[${vo.price*vo.ea}]] 원</div>
                </div>
                <div class="mypage-table">
                    <div class="mypage-table-left">판매 일자</div>
                    <div class="mypage-table-right">[[${vo.nal}]]</div>
                </div>
            </div>
            <div style="margin-top: 30px; display: flex; justify-content: right;">
                <div class="saleviewbutton">
                    <button type="button" class="purple-text-button btnModify" style="letter-spacing: 4px; width: 90px; letter-spacing: 6px; height: 40px; margin-right: 15px;">수정</button> <!--sale_view_modify.html로 연결-->
                    <button type="button" class="purple-text-button btnDelete" style="letter-spacing: 4px; width: 90px; letter-spacing: 6px; height: 40px; margin-right: 15px;">삭제</button> 
                    <button type="button" class="purple-text-button btnList" style="letter-spacing: 4px; width: 90px; letter-spacing: 6px; height: 40px;">취소</button>
                </div>
            </div>
            <div style="height: 120px;"></div>
        </div>
        </div>
    </div>
</body>
</html>