<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매 물품 상세 페이지 </title>
</head>
<body>
    <div class="salepageview">
        <div class="salepage_view">
            <link rel="stylesheet" href="css/krh/krh.css">
            <script defer src="js/krh_sale_stock.js"></script>
            <div class="viewleft" th:src="|ojw_upload/${vo.photo}">
                <img th:src="|ojw_upload/${vo.photo}" id="sale_view_main_photo" width="350px" height="350px">
            </div>
            <div class="product_image_sub">
                <span th:each="p:${vo.photos}" class="product_image_sub_each">
                    <img th:src="|ojw_upload/${p.photo}" width="100px" height="100px">
                </span>
            </div>
            <form action="/submit" method="post" name="gumae" id="gumaeForm">
                <div class="viewright">
                    <div class="name">[ [[${vo.productCode}]] ] / [[${vo.productName}]]</div>
                    <div class="price">[[${vo.price}]]<span class="won">원</span></div>
                    <div class="spec">[[${vo.spec}]]</div>
                    <div class="number" style="margin: 15px 0px 15px 0px; display: flex; justify-content: space-between;">
                        <span class="numbercolor" style="margin-top: 3px; margin-left: 10px;">[ [[${vo.productName}]] ] / [ [[${vo.price}]] 원 ]</span>&nbsp;
                        <span class="ea" style="margin-right: 10px; color: var(--dark-gray);">
                            <input type="number" min="1" max="50" id="quantity" name="ea" class="eacolor" value="0" th:onchange="
                            var ea = $('#quantity').val();
                            var totPrice = [[${vo.price}]] * ea;
                            document.getElementById('pricecolor').innerText = totPrice;"/>개</span>
                        <!-- <button type="button" id="getNumberButton" style="color: black;">갯수 설정</button> -->
                        <p id="voPrice" style="display: none;">[[${vo.price}]]</p>
                    </div>
                    <div class="amt">합계 : <span id="pricecolor">0</span><span class="won">원</span></div>  
                        <input type="hidden" name="productCode" th:value="${vo.productCode}">
                        <input type="hidden" name="productName" th:value="${vo.productName}">
                        <input type="hidden" name="price" th:value='${vo.price}'>
                        <input type="hidden" name="spec" th:value="${vo.spec}">    
                        <div class="buy">
                        <button type="button" class="btnBuy" value="바로 구매" id="submitFormButton" style="position: static;">바로 구매</button>
                    </div>
                </form>
            </div>
                <div class="sale-explanation">
                    <div style="height: 60px; width: 500px; border-top: 1px solid var(--purple);"></div>
                    [[${vo.explanation}]]
                </div>
        
        </div>
    
</body>
</html>