<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매 내역 수정</title>
    
</head>
<body>
    <div class="sale">
        <div class="saleviewmodify">
            <link rel="stylesheet" href="css/krh/krh.css">
            <script src="http://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
            <script defer src="js/krh_sale_stock.js"></script>
            <h2>판매 내역 수정</h2>
            <br/>
            <br/>
            <!--사진..-->
            <!--controller에서 연결받기..-->
            <input type="text" name="sno" style="display:none;" th:value="${vo.sno}">
            <!--<img src="[[${vo.photo}]]" width="200px" height="200px">-->
            <form name="viewfrm" method="post" enctype="multipart/form-data">
                <table class="saleviewtable">
                    <tr>
                        <th>고객 아이디</th>
                        <td><input type="text" name="customerid" readonly th:value="${vo.CustomerId}"></td>
                    </tr>
                    <tr>
                        <th>제품 코드</th>
                        <td><input type="text" name="productcode" readonly th:value="${vo.ProductCode}"></td>
                    </tr>
                    <tr>
                        <th>제품 명</th>
                        <td><input type="text" name="productname" readonly th:value="${vo.ProductName}"></td>
                    </tr>
                    <tr>
                        <th>판매가</th>
                        <td ><input type="text" name="price" readonly th:value="${vo.price}"></td>
                    </tr>
                    <tr>
                        <th>판매 수량</th>
                        <td><input type="text" name="ea" th:value="${vo.ea}"></td>
                    </tr>
                    <tr>
                        <th>판매 금액</th>
                        <td><input type="text" name="amt" readonly th:value="${vo.amt}"></td>
                    </tr>
                    <tr>
                        <th>판매 일자</th>
                        <td><input type="text" name="nal" readonly th:value="${vo.nal}"></td>
                    </tr>    
                </table>
                <div class="saleviewmodifybutton">
                    <!--수량을 수정하고 저장하면 판매 금액도 변경되게..-->
                    <button type="button" class="btnModifyR">저장</button>
                    <button type="button" class="btnList">취소</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>