<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail</title>
</head>
<body>
    <div>
        <div class="myProfilePage" style="margin-top:80px;">
            <div style="display:flex; justify-content: space-between;">
                <!-- * 프로필 대표 이미지 부분 * -->
                <div class="user-profile-block mypage-profile-block no-drag">
                    <div class="profile-border mypage-profile-border">
                        <div class="profile-border1 mypage-profile-border3"></div>
                        <div class="profile-border1 mypage-profile-border1"></div>
                    </div>
                    <div class="profile-border1 mypage-profile-border2"></div>
                    <img class="repre mypage-profile-image" th:src="@{|upload/${vo.photo}|}">
                    <!-- <img src="https://picsum.photos/200" class="mypage-profile-image" alt="User Profile Image"> -->
                </div>
                <!-- * 페이지 제목 * -->
                <div style="margin-top: 130px; width: 95%;">
                    <h1 class="myPageTitle"
                        style="width: 100%; text-align: right; letter-spacing: 7px; font-size: 50px;">환영합니다, [[${vo.name}]]님!</h1>
                        <div style="display: flex; justify-content: right; margin-top: 56px; margin-right: 10px;">
                            <button type="button" class="purple-text-button" style="letter-spacing: 4px; width: 140px; height: 40px; margin-right: 20px;">게시물 조회</button>
                            <button type="button" class="purple-text-button" style="letter-spacing: 4px; width: 140px; height: 40px;">프로필 수정</button>
                        </div>
                        <hr style="margin-top: 30;border-bottom: 1px solid var(--purple); filter:blur(8px);">
                </div>
            </div>
            <hr style="margin-top:0px; border: 1px solid var(--purple); filter: blur(6px);">
            <div style="height: 40px;"></div>
        
                <span>id:</span>[[${vo.id}]]
                name:       [[${vo.name}]]
                phone:     [[${vo.phone1}]]-[[${vo.phone2}]]-[[${vo.phone3}]]
                address:      [[${vo.roadAddress}]] [[${vo.addressDetail}]]
                email:     [[${vo.email}]]@[[${vo.email2}]]
                birthday:    [[${vo.birthday}]]
            <div class="photoSection">
                <div class="container mt-5 ">
                
                <div class="photo_list row d-flex justify-content-center">
                    <div class="col-md-2 mb-3">
                        <div class="d-flex justify-content-center">
                            <div class="img-container">
                                <img class="repre" th:src="@{|upload/${vo.photo}|}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            
            <style>
                .img-container{
                    width: 150px;
                    height: 150px;
                }
                .img-container img{
                    width:100%;
                    height:100%;
                    object-fit:cover;
                }
                .photo_list {
                    gap: 5px; /* 이미지 간격을 5px로 설정 */
                }
            </style>
              <div class="d-flex justify-content-center">
                 <div class="col-md-4 mt-3 mb-5" >

                <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                    <button type="button" class="btn btn-outline-primary btnModify" onClick="modifyFrom()">수정</button>
                    <button type="button" class="btn btn-outline-primary " onClick="btnChangePhoto()" >대표이미지 수정</button>
                    <button type="button" class="btn btn-outline-primary" title="이미지파일을 등록하세요" onClick="regiPhoto()" >이미지등록</button>
                    <button type="button" class="btn btn-outline-primary" onClick="btnGoHome()" >홈</button>
                    <button type="button" class="btn btn-outline-primary" onClick="btnListForm()">목록</button>
                    <button type="button" class="btn btn-outline-primary" onClick="btnMemberOff()">회원탈퇴</button>
                </div>
            </div>
              </div>
        </div>
    </div>
</body>
</html>