<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find</title>
</head>
<body>
    <div>
        <div class="findIdPw" style="display: flex; justify-content: center; height: 100%; align-items: center;">
            <script>
                async function idpwsearch() {
                    let obj = await import ('/js/sungIndex.js');
                    obj.idpwsearch();
                }

                async function returnToLoginPage() {
                    let obj = await import ('/js/sungIndex.js');
                    obj.returnToLoginPage();
                }
            </script>
            <div style="width: 400px; text-align: center; margin-top: -3%">
            <h1 class="no-drag" style='color: var(--white); letter-spacing: 5px; font-weight: 300; font-size: 30px; margin-bottom: 20px;'>내 계정 찾기</h1>
            <h5 style="color: rgba(255, 255, 255, 0.7); font-weight: 200; margin-bottom: 56px; line-height:20px; letter-spacing: 2px;">회원가입시 입력하셨던 정보를 입력해 주시면<br> 회원정보를 이메일로 보내드립니다.</h5>
            <form method="post" name="passSearchForm2" id="passSearchForm2" >
                <input type="text" class="form-control login-text-input" style="margin-bottom: 34px;" name="name" placeholder="이름" id="findIdPw_name"><!-- id="email_name" -->
                <input type="text" class="form-control login-text-input" style="margin-bottom: 48px;"name="email" placeholder="이메일"  id="findIdPw_email">
                <div style="display: flex; justify-content: space-between;">
                    <button type="button" class="purple-text-button" style="width:47%; height:40px;" onclick="returnToLoginPage()">취소</button>
                    <button type="button" class="purple-text-button" style="width:47%; height:40px;" onclick="idpwsearch();">확인</button>
                </div>
            </form>
        </div>
        </div>
    </div>
    </div>
</body>
</html>