<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
</head>
<body>
<div>
    <div class="adminPage">
        <script th:inline="javascript">
            async function admin_view(id) {
                let obj = await import ("/js/sungIndex.js");
                obj.view(id);
            }

            async function admin_search(e) {
                var findStr = e.parentElement.querySelector(".findStr").value;
                let obj = await import ("/js/sungIndex.js");
                obj.admin_search(findStr);
            }
        </script>

        <h1 class="boardListTitle-admin">회원 관리</h1>
        <form name="frm" class="frm" method="post">
            <div class="search">
                <input type="text" class="underline-textbox findStr" style="margin-right: 10px;" name="findStr" placeholder="검색 내용을 입력하세요.">
                <button type="button" class="btnSearch purple-text-button" onClick="admin_search(this)">검색</button>
            </div>
        </form>
        <div class="item_list">
            <div class="item_title">
                <span class="id">아이디</span>
                <span class="name">성명</span>
                <span class="address">주소</span>
                <span class="phone">연락처</span>
                <span class="email">이메일</span>
            </div>
            <div class="item" th:each="vo:${list}" th:onClick="admin_view([[${vo.id}]])">
                <span class="id" name="id">[[${vo.id}]]</span>
                <span class="name" name="name">[[${vo.name}]]</span>
                <span class="address" name="roadAddress"> [[${vo.roadAddress}]] [[${vo.addressDetail}]]</span>
                <span class="phone" >[[${vo.phone1}]]-[[${vo.phone2}]]-[[${vo.phone3}]]</span>
                <span class="email">[[${vo.email}]]@[[${vo.email2}]]</span>

            </div>
        </div>
    </div>
</div>
</body>
</html>