<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div>
    <div class="loginPage" style="display: flex; justify-content: center; height: 100%; align-items: center;">
        <script type="module">
            import { loginPage } from "/js/loginPage.js";
            loginPage();
        </script>
        <script>
            async function openNaver() {
                let obj = await import ('/js/naverKakaoLogin.js');
                obj.openNaver();
            }

            async function openKakao() {
                let obj = await import ('/js/naverKakaoLogin.js');
                obj.openKakao();
            }

            async function findIdPwd() {
                let obj = await import ('/js/sungIndex.js');
                obj.findIdPwd();
            }

            async function registerForm() {
                let obj = await import ('/js/sungIndex.js');
                obj.registerForm();
            }

            async function sample4_execDaumPostcode() {
                let obj = await import ('/js/sungIndex.js');
                obj.sample4_execDaumPostcode();
            }
        </script>
        <div style="width: 400px; text-align: center; margin-top: -2.5%">
        <h1 class="no-drag" style='letter-spacing:7px; margin-bottom: 50px; font-weight: 300;'>로그인</h1>
        <form class="loginfrm" name="loginfrm" method="post">
        <input type="text" class="form-control login-text-input" id="inputId" name="id" placeholder="아이디">
        <input type="password" class="form-control login-text-input" id="password" name= "password" placeholder="비밀번호">

        <div style="margin-bottom: 40px; display: flex;" >
            <span style="width: 50%; display: flex; justify-content: right; padding-right: 13px;"><span onclick="findIdPwd()" class="grey-text-button">ID/PW 찾기</span></span>
            <span style="width: 50%; display: flex; padding-left: 15px;"><span onclick="registerForm()" class="grey-text-button">회원가입</span></span>
        </div>
        <div><button type="button" class="purple-text-button no-drag" id="loginBtn">로그인</button></div>
        <div style="width: 100%; display: flex; justify-content: space-between;">
            <!-- TODO: 버튼 로고 필요: https://developers.naver.com/docs/login/bi/bi.md -->
            <button type="button"  class="login-api-button no-drag" onclick="openNaver();" style="background-color: #03C75A;">
                <span style="width: 40px;">N</span>
                <span style="width: 100%; text-align: center;">네이버 로그인</span>
            </button>
            <!-- TODO: 버튼 로고 필요: https://developers.kakao.com/docs/latest/ko/kakaologin/design-guide#kakaologin-button-composition -->
            <button type="button" class="login-api-button no-drag" onclick="openKakao();" style="background-color: #FEE500;">
            <span style="width: 40px;">K</span>
            <span style="width: 100%; text-align: center; color:rgba(0, 0, 0, 0.85);">카카오 로그인</span>
            </button>
        </div>
        </form>
        </div>
    </div>  
    </div>
</body>
</html>