<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/msm/msmAnswer.css">
    <script src="js/msmQa.js"></script>
</head>
<body>   
    <div class="ansIndex">
        <h1>답변</h1>
        <form name="frm" method="post" class="frm">
            <div class="ansContainer">
                <input type="text" class="input-answer"></input>
            </div>
        </form>
    </div>
    <button type="button" class='ansWrite'>작성</button>
    <button type="button" class='ansCancel' onclick="alert()">취소</button>
</body>
</html>