<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>   
    <div class="ansIndex">
    <link rel="stylesheet" href="css/msm/msmAnswer.css">
    <script th:inline="javascript">
        async function ansWrite(qusNum){
            let obj = await import ("/js/msmQa.js");
            obj.ansWrite(qusNum);
        }
        async function qaBack(){
            let obj = await import ("/js/msmQa.js");
            obj.qaBack();
        }
    </script>
        <h1>답변</h1>
        <form name="answerfrm" method="post" class="frm"  enctype="multipart/form-data">
            <div class="ansContainer">
                <input type="text" class="input-answer"></input>
            </div>
        </form>
    </div> <!-- 7.10 추가 코드의 주석을 풀면 onclick="ansWrite()"을 각 버튼에 추가할것-->
    <button type="button" class='ansWrite'>작성</button>
    <button type="button" class='ansCancel'>취소</button>
</body>
</html>