<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/msm/msmAnswer.css">
    <script src="js/msmQa.js"></script>
</head>
<body>
    <div id="index">
        <div class="navbar"></div>
    <h1>답변</h1>
    <div>
        <div class="ansContainer">
            <input type="text" class="input-answer"></input>
        </div>
    </div>
    <button type="button" class='ansCancel'>취소</button>
    <button type="button" class='ansWrite'>작성</button>
</body>
</html>