<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 상세보기</title>
    <link rel="stylesheet" href="css/msm/msmQaView.css">
    <script defer src="js/msmQa.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div>
        <div class="qaview-container">
            <link rel="stylesheet" href="css/msm/msmQaView.css">
            <div class="left-container">

                <div class="qTitle">
                    <span class="allTitle">게시물 제목</span>
                    <div class="contentBox">
                    <span id="qTitle">[[${q.qusTitle}]]</span>
                    </div>
                </div>

                <div class="qWriter">
                    <span class="allTitle">작성자</span>
                    <div class="contentBox">
                    <span id="qWriter">[[${q.qusId}]]</span>
                    </div>
                </div>

                <div class="qDate">
                    <span class="allTitle">게시 시간</span>
                    <div class="contentBox">
                    <span id="qDate">[[${q.qusDate}]]</span>
                    </div>
                </div>


            </div>

            <div class="right-container">
                <div class="qContent">
                    <span class="allTitle">질문 내용</span>
                    <div class="qusContentBox">
                    <span id="qContent">[[${q.qusCon}]]</span>
                    </div>
                </div>
                <div class="ansContent">
                    <span class="allTitle">답변 내용</span>
                    <div class="ansContentBox">
                    <span class="qAnswer" th:if="${q.ansCon == null}">답변이 없습니다.</span>
                    <input type="text" id="ansContentInput" th:value="${q.ansCon}"
                    placeholder="답변 작성하기 버튼을 눌러 답변을 작성해주세요." readonly>
                </div>
            </div>
        </div>
        <div class="btns">
        <button class="goAns" onclick="qaBack()">답변 작성하기</button>
        <button class="qaBack" onclick="qaBack()">뒤로가기</button>
    </div> 
    </div>
</div>
</body>
</html>

