<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/msmQa.js"></script>
    <title>Document</title>
    
    </head>
    <body> <!--  class="qa-container" -->
    <!--06.26추가-->
    <div>
    <div class="question" id="questionId">
        <link rel="stylesheet" href="css/msm/msmQuestion.css">
        <script th:inline="javascript">
            async function qaWrite() {
                    let obj = await import ("/js/msmQa.js");
                    obj.qaWrite();
                }
            async function qusBack() {
                let obj = await import ("/js/msmQa.js");
                obj.qusBack();
            }

        </script>
        <div>
        <h1 class="boardListTitle">질문 남기기</h1>
        <!-- <div class="container"> -->
            <form name="frm" method="post" style="width: 100%;" enctype="multipart/form-data" class="frm"> <!-- class="frm" -->
                <!-- <div class="idDiv">
                    <p class="pId">작성자</p>
                    <input type="text" class="input-id" name="qusId">    
                </!--div> -->
                <div class="titleDiv" style="width: 100%;" >
                    <p class="pTitle">제목</p>
                    <input type="text" class="input-title" name="qusTitle">
                </div>
                <div class="contentDiv" style="width: 100%;" >
                    <p class="pContent">내용</p>
                    <textarea class="input-question" name="qusCon"></textarea>
                </div>
            </form>
                <!--</div>-->
                <div style="width: 100%; display: flex; justify-content: right; margin-top: 20px;">
                    <button type="button" id="qaCancel" class="purple-text-button" style="width: 100px; margin-right: 20px;" onclick="qusBack()">취소</button> <!-- qaCancel --> 
                    <button type="button" id="qaWrite" class="purple-text-button" style="width: 100px;" onclick="qaWrite()">작성</button> <!-- qaWrite -->
                </div>
            
        </div>
    </div>
</div>
</body>
</html>