/* ------------------- purchase ------------------ */
<<<<<<< HEAD
*{
    box-sizing: border-box;
}
=======
>>>>>>> 7e5772ac77e19d2e714291a29aaa9f18f01d40ac
.purchase{
    width: 1200px;
    min-height: 400px;
    text-align: center;
    margin: 0 auto;
}
.list .frm{
    text-align: right;
    margin-right: 10px;
}
.list .frm>*{
    height: 24px;
    vertical-align: middle;
}
.title{
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    margin-top: 10px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
}
.list span{
    display: inline-block;
}
.item{
    border-bottom: 2px solid #eee;
}
.items span{
    height: 40px;
    line-height: 40px;
}
.list .no{width: 120px;}
.list .productCode{width: 100px;}
.list .productName{width: 150px;}
.list .price{width: 100px;}
.list .ea{width: 100px;}
.list .nal{width: 150px;}
.list .customer{width: 150px;}
.list .purchaselist{
    width: 100px;
    text-decoration: underline;
}
.list .purchaselist:hover{
    color: purple;
}
.list .item:hover{
    background-color: #eee;
}

/*-------------- purchase_view ---------------*/

h2{
    padding-top: 20px;
}
.purchase_view{
    text-align: center;
    border: 2px solid #000;
    width: 450px;
    padding-bottom: 20px;
    margin: 0 auto;
}
.purchase_view .list_table{
    text-align: center;
    border: 1px solid #000;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.list_table *{
    border: 1px solid black;
    width: 150px;
}
.list_table th, td{
    padding: 10px;

}
.purchase_view h2{
    margin-top: 0;
}
hr{
    border: 1px solid black;
    margin-bottom: 40px;
}
.link{
    border: none;
}


/* ----------------------- purchase_list ------------------------- */

.purchase_list{
    border: 1px solid #000;
    width: 500px;
    text-align: center;
    padding-bottom: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
}
table{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 0 auto;
    width: 400px;
}
td{
    border: 1px solid #000;
    width: 50px;
    padding: 10px 5px;
}
.btnPrint{
    margin-top: 20px;
}

/* ----------------------- product_register ------------------------- */
*{
    box-sizing: border-box;
}
h3{
    text-align: center;
    margin-top: 20px;
}
.product_register{
    border: 1px solid #000;
    width: 400px;
    text-align: left;
    margin: 0 auto;
}
.product_register .frm{
    margin: 20px;
    text-align: left;
}
.product_register .product_input{
    text-align: left;
    margin-left: 30px;
}
.productRegisterButton{
    text-align: right;
    margin-bottom: 0;
}

/* ----------------------- product ------------------------- */
.products h2{
    text-align: center;
}
.product{
    width: 1200px;
    margin: 30px auto;
<<<<<<< HEAD
    min-height: 600px;
    text-align: left;
    padding-left: 0%;
=======
    min-height: 400px;
    text-align: left;
>>>>>>> 7e5772ac77e19d2e714291a29aaa9f18f01d40ac
}
.product_each{
    text-align: right;
    margin-top: 50px;
}
.product .frm{
    margin-bottom: 20px;
    margin-right: 52px;
    text-align: right;
}
<<<<<<< HEAD
.product_list li{
=======
.product_each{
>>>>>>> 7e5772ac77e19d2e714291a29aaa9f18f01d40ac
    list-style: none;
    width: 200px;
    display: inline-block;
    margin: 30px;
    text-align: left;
}

/* ------------- product view -------------*/
<<<<<<< HEAD
=======
.products{
    width: 1200px;
    margin: 30px auto;
    text-align: center;
    padding-bottom: 20px;
}
.product_view{
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
}
.product_view_left{
    width: 380px;
    text-align: left;
    float: left;

    margin-top: 48px;
    margin-left: 50px;
    height: 350px;
    max-height: 350px;
}
.product_image_sub{
    display: flex;
    width: 150px;
    height: 400px;
    flex-direction: column;
    margin-top: 48px;
    float: left;
}
.product_image_sub_each{
    margin-bottom: 20px;
}
.product_view_right{
    width: 500px;
    height: 350px;
    text-align: right;
    float: right;
    margin-top: 48px;
    margin-right: 50px;
    max-height: 350px;
    padding: 0;
}
.product_view_right .explanation{
    width: 100%;
    min-height: 150px;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid lightgray;

}
.product_view_right .name{
    padding:10px;
    font-weight:500;
    font-size:20px;
}
.product_view_right .price{
    font-weight: bold;
    font-size:30px;
    padding:10px;
}
.product_view_right .spec{
    vertical-align: center;
    font-size:15px;
    color:gray;
    padding:10px;
}
.product_view_right .number{
    text-align: left;
    background-color: rgb(211, 211, 211);
    padding:10px;
}
.viewright .number .suchi{
    text-align: right;
    margin-right: 10px;
}
.product_view_right .amt{
    font-weight: bold;
    font-size:30px;
    padding:12px;
}
.product_view_right .won{
    font-weight: normal;
    color:black;
    font-size:15px;
}
.product_view_left .main-image{
    float: left;
}
.product_view_left .detailimage img{
    margin-left:12px;
    margin-bottom:12px;
}
.product_view_right hr{
    margin:0px;
    padding:0px;
}
>>>>>>> 7e5772ac77e19d2e714291a29aaa9f18f01d40ac
