<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="noticeView">
            <script th:inline="javascript">
                async function noticelist(nowPage, findStr) {
                    var obj = await import ("/js/bjm_notice.js");
                    obj.noticelist(nowPage, findStr)
                }

                function noticeDetailModify(sno) {
                    $.ajax({
                            url: "/notice/bjmModify",
                            type: "GET",
                            data: {"sno": sno},
                            success: (resp) => {
                                let temp = $(resp).find(".noticeModify");
                                alert($(temp).html())
                                $(".content").html(temp);
                            //noticeModifyR(sno);
                            }
                        });
                    }

                function noticeDetailDelete(sno) {
                    let del = confirm("정말 삭제하시겠습니까?");
                    if(!del) return;
                    $.ajax({
                        url : "/notice/bjmDelete",
                        type : "GET",
                        data : {"sno" : sno},
                        success : (resp) => {
                            noticelist(1,"");
                        }
                    })
                }
            </script>


            <button type="button" class="white-text-button" onclick="noticelist(1, '')">↶ 목록으로 돌아가기</button>
            <div style="background-color:var(--purple); height: 80px; margin: 0; padding: 0 20px 0 20px;"><h2 style="line-height: 80px;">[[${vo.title}]]</h2></div>
            <div style="display: flex;
                width: 100%;
                flex-wrap: wrap;
                flex-direction: row;
                align-content: space-between;
                padding: 5px 20px 0 20px;
                ">
            <div style="width: 50%; text-align: left; color: var(--purple)">[[${vo.id}]]</div>
            <div style="width: 50%; text-align: right; color: var(--purple)">[[${vo.nal}]]</div>
            </div>
            <div style="margin: 30px 20px 20px 20px; overflow: auto" th:utext="${vo.content}"></div>

            <div style="display: flex; align-content:space-between; padding: 30px 20px 5px 20px">
            <!-- <th:block th:if="${session.id eq vo.id}"> -->
                <div style="width: 100%; text-align: right; display: inline-block;">
                    <button type="button" class="purple-text-button" th:onclick="noticeDetailModify([[${vo.sno}]])" style="margin-right: 15px;">수정</button>
                    <button type="button" class="purple-text-button" th:onclick="noticeDetailDelete([[${vo.sno}]])">삭제</button>
                </div>
            <!-- </th:block> -->
            </div>
        </div>
    </div>
</body>
</html>