<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="noticeRegist">
            <script>
                async function noticelist() {
                    var obj = await import ("/js/bjm_notice.js");
                    obj.noticelist(1, "")
                }

                async function bjmRegister(frm) {
                    alert(frm);
                    let obj = await import ("/js/bjm_notice.js");
                    obj.bjmRegister(frm);
                }

                
                // 수정페이지에서 원시 코드 보존을 통한 코드 깨짐 방지
                window.onload = function () {
                    $('#summernote').summernote('code', document.getElementById('temp').innerHTML)
                }
            
                $(document).ready(function () {
                    $('#summernote').summernote({
                        // 썸머노트 옵션 설정
                        codeviewFilter: false,
                        codeviewIframeFilter: false,
                        disableXSSProtection: true,
                        height: 500,
                        minHeight: null,
                        maxHeight: null,
                        focus: true,
                        lang: 'ko-KR',
                        toolbar: [
                            // 스타일 관련 기능
                            ['style', ['style']],
                            // 글자 크기 설정
                            ['fontsize', ['fontsize']],
                            // 글꼴 스타일
                            ['font', ['bold', 'underline', 'clear']],
                            // 글자 색상
                            ['color', ['color']],
                            // 테이블 삽입
                            ['table', ['table']],
                            // 문단 스타일
                            ['para', ['paragraph']],
                            // 에디터 높이 설정
                            ['height', ['height']],
                            // 이미지, 링크, 동영상 삽입
                            ['insert', ['picture', 'link', 'video']],
                            // 코드 보기, 전체화면, 도움말
                            ['view', ['codeview', 'fullscreen', 'help']],
                        ],
                        fontSizes: [
                            // 글자 크기 선택 옵션
                            '8', '9', '10', '11', '12', '14', '16', '18', '20', '22', '24', '28', '30', '36', '50', '72'
                        ],
                        styleTags: [
                            // 스타일 태그 옵션
                            'p',
                            { title: 'Blockquote', tag: 'blockquote', className: 'blockquote', value: 'blockquote' },
                            'pre',
                            { title: 'code_light', tag: 'pre', className: 'code_light', value: 'pre' },
                            { title: 'code_dark', tag: 'pre', className: 'code_dark', value: 'pre' },
                            'h1', 'h2', 'h3', 'h4', 'h5', 'h6'
                        ],
                    })
                })
            </script>
            <h1 class="summernote-page-title">공지사항 글 작성</h1>
            <form method="post" name="frmRegister" enctype="multipart/form-data">   <!--  action="/notice/bjmRegisterR" -->
                <input type="text"  class="post-title"  id="title" name="title" placeholder="제목을 입력해주세요" required/>
                <!-- display:none으로 해둬야 summernote 로딩 이전 기본 textarea 글박스가 뜨지 않음 -->
                <textarea id="summernote" class="note-editable" name="content" aria-multiline="true" style="display:none"></textarea>
                <div style="text-align: right;">
                    <!-- TODO: boardList가 아니라 디테일 페이지로 돌아가기 -->
                    <!-- <button type="button" class="purple-text-button" style="margin-right: 15px;">취소</button>
                    <button type="button" class="purple-text-button">수정</button> -->
                </div>
                <div style="text-align: right;">
                    <button type="button" class="purple-text-button" onclick="noticelist();" style="margin-right: 10px;">취소</button>
                    <button type="button" class="purple-text-button" onclick="bjmRegister(this.form)">저장</button> <!--  bjmBtnRegisterR  -->
                </div>
            </form>
        </div>
    </div>
</body>
</html>