<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="noticeView">
            <div class="header">
                <div>
                    <h1 class="title" th:text="${vo.title}"></h1>
                </div>
                <div>
                    <span class="id" th:text="${vo.id}"></span>
                    <span class="nal" th:text="${vo.nal}"></span>
                </div>
            </div>
            <div class="content">
                <p th:utext="${vo.content}"></p>
            </div>
            <div class="navi">
                <div>
                    <span>
                        <a href="#" class="noticeNext">다음글</a>
                    </span>
                    <span>
                        <a href="#" class="noticePrev">이전글</a>
                    </span>
                </div>
            </div>
            <div class="btnZone">
                <button type="button" class="bjmBtnList">목록</button>
                <button type="button" class="bjmBtnModify">수정</button>
                <button type="button" class="bjmBtnDel">삭제</button>
            </div>
        </div>
    </div>
</body>
</html>