<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Notice</title>

    
</head>
<body>
    <div>
        <div class="noticeModify">
            <!-- <script type="module" th:inline="javascript">
                async function noticeModifyR(sno) {
                    let obj = await import ("/bjm_notice.js");
                    obj.noticeModifyR(sno);
                }
            </script> -->
            <script>
                $(document).ready(function () {
                    $('#summernote').summernote({
                        // 썸머노트 옵션 설정
                        codeviewFilter: false,
                        codeviewIframeFilter: false,
                        disableXSSProtection: true,
                        height: 500,
                        minHeight: null,
                        maxHeight: null,
                        focus: true,
                        lang: 'ko-KR',
                        toolbar: [
                            // 스타일 관련 기능
                            ['style', ['style']],
                            // 글자 크기 설정
                            ['fontsize', ['fontsize']],
                            // 글꼴 스타일
                            ['font', ['bold', 'underline', 'clear']],
                            // 글자 색상
                            ['color', ['color']],
                            // 테이블 삽입
                            ['table', ['table']],
                            // 문단 스타일
                            ['para', ['paragraph']],
                            // 에디터 높이 설정
                            ['height', ['height']],
                            // 이미지, 링크, 동영상 삽입
                            ['insert', ['picture', 'link', 'video']],
                            // 코드 보기, 전체화면, 도움말
                            ['view', ['codeview', 'fullscreen', 'help']],
                        ],
                        fontSizes: [
                            // 글자 크기 선택 옵션
                            '8', '9', '10', '11', '12', '14', '16', '18', '20', '22', '24', '28', '30', '36', '50', '72'
                        ],
                        styleTags: [
                            // 스타일 태그 옵션
                            'p',
                            { title: 'Blockquote', tag: 'blockquote', className: 'blockquote', value: 'blockquote' },
                            'pre',
                            { title: 'code_light', tag: 'pre', className: 'code_light', value: 'pre' },
                            { title: 'code_dark', tag: 'pre', className: 'code_dark', value: 'pre' },
                            'h1', 'h2', 'h3', 'h4', 'h5', 'h6'
                        ],
                    })
                })
            </script>

            <h1 class="summernote-page-title">공지사항 수정</h1><br/>
            <form method="post" name="frmModify" enctype="multipart/form-data" action="/notice/bjmModifyR">
                <input type="hidden" name="sno" th:value="${vo.sno}" />
                <input type="text"  class="post-title"  id="title" name="title" th:value="${vo.title}"  placeholder="제목을 입력해주세요" required/>
                <!-- display:none으로 해둬야 summernote 로딩 이전 기본 textarea 글박스가 뜨지 않음 -->
                <textarea id="summernote" class="note-editable" name="content" aria-multiline="true" style="display:none">[[${vo.content}]]</textarea>
                <div style="text-align: right;">
                    <!-- TODO: boardList가 아니라 디테일 페이지로 돌아가기 -->
                    <button type="button" class="purple-text-button" style="margin-right: 15px;">취소</button>
                    <button type="button" class="purple-text-button" th:onclick="noticeModifyR([[${vo.sno}]])">수정</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
<!--
noticeView.html에서 수정 버튼을 클릭하면 /notice/modify/{id}로 이동.
Spring Controller에서 modifyNotice 메서드를 통해 기존 공지사항 데이터를 불러와서 noticeModify.html에 전달.
noticeModify.html에서 기존 데이터를 표시하고 수정 가능
수정된 데이터를 제출하면 updateNotice 메서드를 통해 데이터를 업데이트하고, 수정된 공지사항 상세 페이지로 리디렉션
-->