<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div id="boardPost">
            <script type="module">
                import { summernote, csyPostSubmit } from "/js/csy_summernote.js";
                summernote();
                csyPostSubmit();
            </script>
            <script>
                async function toBoardList() {
                    let obj = await import ("/js/csy_board.js");
                    obj.boardList();
                }
            </script>
            <h1 style="width:100%; text-align: right;">글 작성</h1><br/>
            <form name="frmBoardPost" method="POST" enctype="multipart/form-data">
                <!-- TODO: 수정 페이지에서 원시 코드 보존을 위한 temp 부분 -->
                <!-- <div id="temp" style="display: none">${board.contents}</div> -->
                <input type="text" class="post-title" name="title" placeholder="제목을 입력해주세요">
                <!-- display:none으로 해둬야 summernote 로딩 이전 기본 textarea 글박스가 뜨지 않음 -->
                <textarea id="summernote" class="note-editable" name="content" aria-multiline="true" style="display:none"></textarea>
                <div style="text-align: right;">
                    <button type="button" class="purple-text-button" onclick="toBoardList()" style="margin-right: 15px;">취소</button>
                    <button type="button" class="purple-text-button btnCsyPostSubmit">작성</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>