<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import JQuery  -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"  crossorigin="anonymous"></script>

    <!-- Google Font Noto Sans KR -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <!-- * ICON 나중에 Material Icons로 변경: https://fonts.google.com/icons?selected=Material+Icons:account_circle:&icon.size=24&icon.color=%235f6368 -->
    <!-- Icon Library : https://www.w3schools.com/howto/howto_css_icon_buttons.asp -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- 이하 Summer Note(글쓰기 툴) -->
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    <!-- FONT-AWESOME : ICONS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Import CSS Files -->
    <!-- summernote과 bootstrap 뒤에 있어야 summernote css override 됨 -->
    <link rel="stylesheet" href="css/defaults/csy_colors.css">
    <link rel="stylesheet" href="css/defaults/csy_index.css">
    <link rel="stylesheet" href="css/defaults/csy_navbar.css">
    <link rel="stylesheet" href="css/elements/csy_loader.css">
    <link rel="stylesheet" href="css/elements/csy_like_heart.css">
    <link rel="stylesheet" href="css/elements/csy_inputs.css">
    <link rel="stylesheet" href="css/elements/csy_summernote.css">
    <link rel="stylesheet" href="css/csy/csy_design_guide.css">         <!-- 제거 예정-->
    <link rel="stylesheet" href="css/csy/csy_board.css">
    <!-- <link rel="stylesheet" href="css/krh/krh.css"> -->
    <!-- Import JavaScript Files -->
    <script defer src="js/csy_index.js"></script>

    <!--sung-->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.2/kakao.min.js"
    integrity="sha384-TiCUE00h649CAMonG018J2ujOgDKW/kVWlChEuu4jK2vxfAAD0eZxzCKakxg55G4" crossorigin="anonymous"></script>
    
    <title>Document</title>
</head>
<body>
    <!-- <th:block th:if="${session.id eq null}">
        <div class="authPage"></div>
    </th:block>
    <th:block th:if="${session.id ne null}"> -->
    <div id="index">
            <div class="navbar"></div>
            <div class="content">
                <div class="loader">
                    <svg viewBox="0 0 240 240" height="240" width="240" class="loader">
                        <circle stroke-linecap="round" stroke-dashoffset="-330" stroke-dasharray="0 660" stroke-width="20" stroke="#000" fill="none" r="105" cy="120" cx="120" class="loader-ring loader-ring-a"></circle>
                        <circle stroke-linecap="round" stroke-dashoffset="-110" stroke-dasharray="0 220" stroke-width="20" stroke="#000" fill="none" r="35" cy="120" cx="120" class="loader-ring loader-ring-b"></circle>
                        <circle stroke-linecap="round" stroke-dasharray="0 440" stroke-width="20" stroke="#000" fill="none" r="70" cy="120" cx="85" class="loader-ring loader-ring-c"></circle>
                        <circle stroke-linecap="round" stroke-dasharray="0 440" stroke-width="20" stroke="#000" fill="none" r="70" cy="120" cx="155" class="loader-ring loader-ring-d"></circle>
                    </svg>
                </div>
            </div>
        </div>
    <!-- </th:block> -->
</body>
</html>