<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="noticeRegist">
            <h1>공지사항 글 작성</h1>
            <form method="post" name="frmRegister" enctype="multipart/form-data">
                <div>
                    <label for="title">제목</label>
                    <input type="text" id="title" required/>
                </div>
                <div id="post-form">
                    <label for="content">내용</label>
                    <textarea id="summernote"></textarea>
                    <script>
                        console.log("summernote")
                        $('#summernote').summernote();
                    </script>
                </div>
                <div class="registerButton">
                    <button type="button" class="bjmBtnRegisterR">작성</button>
                    <button type="button" class="bjmBtnCancelR">취소</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>