.adminPage {
    padding-left: 18%;
    padding-right: 18%;
}

/* 이하 아직 하지 않음 */
/* https://programmer93.tistory.com/27 */
/* .post-title {
    background: transparent;
    border: none;
    font-size: 25px;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    outline: none;
    padding-bottom: 5px;
    font-weight: 300;
    letter-spacing: 0.2em;
} */


.boardListTitle-admin {
    width: 180px;
    /* 드래그 방지 구문: 그냥 지저분해서  */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* .boardListTitle:hover { color: var(--purple); cursor:pointer;} */

.adminPage, .adminPagePost, .adminPageDetail, .adminPageModify {
    padding: 28px 18% 0px 18%;
    width: 100%;
}

.noticeList .search {
    text-align: right;
    margin-bottom: 10px;
}

.adminPage .item_list { width: 100%; }
.adminPage .item_title, .adminPage .item {
    width: 100%;
    display: flex;
    text-align: center;
    padding: 8px 0px 8px 0px;
    letter-spacing: .1rem;
}


.adminPage .item_title{ font-weight: 400; font-size: 17px; background-color:var(--purple); }
.adminPage span.id { width: 140px; }
.adminPage span.name { width: 120px; }
.adminPage span.address { flex-grow: 1; }
.adminPage span.phone { width: 160px; }
.adminPage span.email { width: 280px; }

.item_list .item{ border-bottom: 1px solid rgba(255, 255, 255, 0.6); }
.item_list .item:hover { background-color: rgba(255, 255, 255, 0.1); cursor: pointer; }
