<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product_view</title>
    <link rel="stylesheet" href="css/ojw/ojw.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script defer src="js/ojw_product.js"></script>
</head>
<body>
    <div class="products">
        <div class="product_view">
        <h2>제품관리 상세페이지</h2>
            <div class="product_view_left" th:src="|ojw_upload/${vo.photo}">
                <img th:src="|ojw_upload/${vo.photo}" width="350px" height="350px">
            </div>
            <div class="product_image_sub">
                <span th:each="p:${vo.photos}" class="product_image_sub_each">
                    <img th:src="|ojw_upload/${p.photo}" width="100px" height="100px">
                </span>
            </div>
            <div class="product_view_right">
                <h2>[[${vo.productCode}]] / [[${vo.productName}]]</h2>
                <hr/>
                <span class="price">[[${vo.price}]]</span>
                <span class="spec">[[${vo.spec}]]</span>
                <div class="explanation">
                    [[${vo.explanation}]]
                </div>
            </div>
            <div>
                <button type="button" class="btnProductModify">수정</button>
            </div>
        </div>
    </div>
</body>
</html>