<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품관리 페이지</title>
    <link rel="stylesheet" href="css/ojw/ojw.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script defer src="js/ojw_product.js"></script>
</head>
<body>
    <div class="products">
        <div class="product">
        <h2>제품관리 메인페이지</h2>
            <form name="frm" class="frm" method="GET">
                <input type="text" name="findStr" class="findStr" placeholder="검색어를 입력하세요.">
                <button type="button" class="btnSearch">검색</button>
                <button type="button" class="abcabc">신규 등록</button>
            </form>
            <div class="product_list">
                <ul class="product_ul">
                    <li class="product_each" th:each="j:${product}" th:onClick="product_view([[${j.productCode}]])">
                        <span class="product_image"><img th:src="|ojw_upload/${j.photo}" width="200px" height="200px"></span>
                        <br/>
                        <span class="name">[[${j.productName}]]</span>
                        <br/>
                        <span class="comment">[[${j.comment}]]</span>
                        <br/>
                        <span class="price">[[${j.price}]]</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>