<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품관리 페이지</title>
    <link rel="stylesheet" href="css/ojw/ojw.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script defer src="js/ojw_index.js"></script>
</head>
<body>
    <div class="products">
        <h2>제품관리 메인페이지</h2>
        <div class="product">
            <div class="product_button">
                <form name="frm" class="frm" method="GET">
                    <input type="text" name="findStr" class="findStr" placeholder="검색어를 입력하세요.">
                    <button type="button" class="btnSearch">검색</button>
                    <button type="button" class="btnRegister">신규 등록</button>
                </form>
            </div>
            <div class="product_list">
                <ul class="product_ul">
                    <li class="product_each">
                        <!--
                            <th:block th:each="j:${vo.photos}">
                                <img src="[[${j.photo}]]" width="200px" height="200px">
                            </th:block>
                            -->
                        <br/>
                        [[${vo.productName}]]
                        <br/>
                        [[${vo.explanation}]]
                        <br/>
                        [[${vo.price}]]
                    </li>
                    <li class="product_each">
                        <!--
                            <th:block th:each="j:${vo.photos}">
                                <img src="[[${j.photo}]]" width="200px" height="200px">
                            </th:block>
                            -->
                        <br/>
                        [[${vo.productName}]]
                        <br/>
                        [[${vo.explanation}]]
                        <br/>
                        [[${vo.price}]]
                    </li>
                    <li class="product_each">
                        <!--
                            <th:block th:each="j:${vo.photos}">
                                <img src="[[${j.photo}]]" width="200px" height="200px">
                            </th:block>
                            -->
                        <br/>
                        [[${vo.productName}]]
                        <br/>
                        [[${vo.explanation}]]
                        <br/>
                        [[${vo.price}]]
                    </li>
                    <li class="product_each">
                        <!--
                            <th:block th:each="j:${vo.photos}">
                                <img src="[[${j.photo}]]" width="200px" height="200px">
                            </th:block>
                            -->
                        <br/>
                        [[${vo.productName}]]
                        <br/>
                        [[${vo.explanation}]]
                        <br/>
                        [[${vo.price}]]
                    </li>
                    <li class="product_each">
                        <!--
                            <th:block th:each="j:${vo.photos}">
                                <img src="[[${j.photo}]]" width="200px" height="200px">
                            </th:block>
                            -->
                        <br/>
                        [[${vo.productName}]]
                        <br/>
                        [[${vo.explanation}]]
                        <br/>
                        [[${vo.price}]]
                    </li>

                </ul>
            </div>
        </div>
    </div>
</body>
</html>