<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품 수정</title>
</head>
<body>
    <div class="products">
        <div class="product_modify">
            <link rel="stylesheet" href="css/ojw/ojw.css">
            <h3>제품 수정</h3>
            <hr/>
            <form name="frm" method="post" class="frm" enctype="multipart/form-data">
                <div class="product_input">
                    <label class="label">제품명</label><br/>
                    <input type="text" name="productName" class="input"><br/>
                    <label class="label">제품 코드</label><br/>
                    <input type="text" name="productCode" class="input"><br/>
                    <label class="label">단가</label><br/>
                    <input type="text" name="price" class="input"><br/>
                    <label class="label">스펙</label><br/>
                    <input type="text" name="spec" class="input"><br/>
                    <label class="label">한줄 설명</label><br/>
                    <input type="text" name="comment" class="input"><br/>
                    <label class="label">설명</label><br/>
                    <input type="text" name="explanation" class="input"><br/>
                </div>
                <br/>
                <label>
                    파일 첨부
                    <input type="file" name="files" multiple="multipart">
                </label>
                <br/>
                <fieldset>
                    <legend>이미 첨부된 파일</legend>
                    
                </fieldset>
                <br/>
                <div class="button">
                    <button type="button" class="btnRegisterR">등록</button>
                    <button type="button" class="btnList">취소</button> <!--취소버튼 클릭시 목록으로 복귀-->
                </div>
            </form>
            <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
            <script defer src="js/ojw_product.js"></script>
        </div>
    </div>
</body>
</html>