<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품관리 페이지</title>
</head>
<body>
    <div class="products">
        <div class="product">
            <!-- <link rel="stylesheet" href="css/ojw/ojw.css"> -->
            <script defer src="js/ojw_product.js"></script>
            <div style="width: 100%; display: flex; text-align: left;">
                <h1 class="boardListTitle-admin" style="width: 100%; display: flex; text-align: left;">제품 관리</h1>
                
            <!-- <div style="border-bottom: 1px solid rgba(255,255,255,0.6);">
            <div style="height: 40px; width: 20px;"></div> -->
            <form name="frm" class="frm search" method="post" style="width: 100%; display: flex; justify-content: right; margin-bottom: 12px;">
                <input type="text" name="findStr" class="underline-textbox findStr" style="margin-right: 15px; border-right: 0px none transparent;" placeholder="검색어를 입력하세요.">
                <button type="button" class="btnSearch purple-text-button">검색</button>
            </form></div>
            </div><div class="list">
            <div class="product_container">
                <div class="product_each" th:each="j:${product}" th:onClick="product_view([[${j.productCode}]])">
                    <span class="product_image"><img th:src="|ojw_upload/${j.photo}" width="200px" height="200px"></span>
                    <br/>
                    <span class="name">[[${j.productName}]]</span>
                    <br/>
                    <span class="comment">[[${j.comment}]]</span>
                    <br/>
                    <span class="price">[[${j.price}]]</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>