<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품 수정</title>
</head>
<body>
    <div class="products">
        <div class="product_modify">
            <!-- <link rel="stylesheet" href="css/ojw/ojw.css"> -->
            <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script> -->
            <script defer src="js/ojw_product.js"></script>
            <h1 class="boardListTitle-admin" style="width: 100%; margin-bottom: 25px;">제품 수정</h1>
            <hr style="margin-bottom: 58px;"/>
            <form name="productfrm" method="post" class="frm" enctype="multipart/form-data">
                <div class="product_input">
                    <div style="display: flex; margin-bottom: 35px; ">
                        <div style="width: 500px;">
                            <label>제품명</label>
                            <input type="text" class="form-control login-text-input" name="productName" th:value="${vo.productName}" style="width: 100%; font-weight: 400; color: var(--dark-gray);" readonly />
                        </div>
                        <div style="width: 300px; padding-left: 30px;">
                            <label>제품 코드</label>
                            <input type="text" name="productCode" class="form-control login-text-input" style="width: 100%; font-weight: 400; color: var(--dark-gray);"  readonly th:value="${vo.productCode}"/>
                        </div>
                    </div>

                    <div style="display: flex; margin-bottom: 35px;">
                        <div style="width: 500px;">
                            <label>단가</label>
                            <input type="text" class="form-control login-text-input" name="price" th:value="${vo.price}" style="width: 100%;" />
                        </div>
                        <div style="width: 300px; padding-left: 30px;">
                            <label>스펙</label>
                            <input type="text" class="form-control login-text-input" name="spec" th:value="${vo.spec}" style="width: 100%;" />
                        </div>
                    </div>

                    <div style="width: 100%; margin-bottom: 40px;">
                        <label>한줄 설명</label>
                        <input type="text" class="form-control login-text-input" name="comment" th:value="${vo.comment}" style="width: 100%;" />
                    </div>

                    <div style="width: 100%; margin-bottom: 50px;">
                        <label>설명</label>
                        <input type="text" class="form-control login-text-input" name="explanation" th:value="${vo.explanation}" style="width: 100%;" />
                    </div>

                    <div class="productRegisterButton" style="display: flex; justify-content: right;">
                        <button type="button" class="purple-text-button btnList" style="margin-right: 15px;">취소</button> <!--취소버튼 클릭시 목록으로 복귀-->
                        <button type="button" class="purple-text-button btnModifyR">등록</button>
                    </div>
                    </div>
                </form>
        </div>
    </div>
</body>
</html>