<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>purchase_list</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="https:///code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script defer src="js/index.js"></script>
</head>
<body>
    <div class="products">
        <div class="purchase_list">
            <h2>구매 내역서</h2>
            <table class="list">
                <tr>
                    <td>주문일</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td colspan="4">거 래 처 정 보</td>
                </tr>
                <tr>
                    <td>거래처 주소</td>
                    <td></td>
                    <td>전화번호</td>
                    <td></td>
                </tr>
                <tr>
                    <td>거래처명</td>
                    <td></td>
                    <td>이메일</td>
                    <td></td>
                </tr>
                <tr>
                    <td>No.</td>
                    <td colspan="2">품목</td>
                    <td>수량</td>
                </tr>
                <tr>
                <td>1</td>
                <td colspan="2"></td>
                <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td colspan="2"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td colspan="2"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td colspan="2"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td colspan="2"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td colspan="2"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td colspan="2"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>총액</td>
                    <td colspan="2"></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <button type="button" class="btnPrint">출력</button>
    </div>
</body>
</html>