<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view</title>
</head>
<body>
    <div class="products">
        <div class="purchase_view" style="margin-top: 100px;">
            <script defer src="js/ojw_purchase.js"></script>
            <div style="display:flex; justify-content: space-between; margin-bottom: 40px;">
                <!-- * 프로필 대표 이미지 부분 * -->
                <div class="user-profile-block purchase-image-block no-drag" style="margin-right: 25px;">
                    <div class="profile-border mypage-profile-border">
                        <div class="profile-border1 mypage-profile-border3"></div>
                        <div class="profile-border1 mypage-profile-border1"></div>
                    </div>
                    <div class="profile-border1 mypage-profile-border2"></div>
                    <img class="repre mypage-profile-image" th:src="|ojw_upload/${vo.photo}">
                    <!-- <img src="https://picsum.photos/200" class="mypage-profile-image" alt="User Profile Image"> -->
                </div>
                <!-- * 페이지 제목 * -->
                <div style="margin-top: 130px; width: 95%; flex-direction: column; display: flex; justify-content: end;">
                    <h1 class="myPageTitle"
                        style="width: 100%; margin-bottom: 28px; text-align: right; letter-spacing: 7px; font-size: 50px;">[[${vo.productName}]]</h1>
                        <div style="width: 100%; display: flex; justify-content: right;">
                            <div style="width: 90%; text-align: right; margin-top:6px;">
                                <hr style="border: 0.2px solid var(--purple); filter: blur(6px); margin-bottom: 8px;">
                            </div>
                        </div>
                        <div style="width: 100%; display: flex; justify-content: right;">
                            <div style="width: 100%; text-align: right; margin-top:0px;">
                                <hr style="border: 1.8px solid var(--purple); filter: blur(6px);">
                            </div>
                        </div>
                </div>
            </div>
            <div>
                <div class="mypage-table">
                    <div class="mypage-table-left">거래처</div>
                    <div class="mypage-table-right">[[${vo.customer}]]</div>
                </div>
                <div class="mypage-table">
                    <div class="mypage-table-left">제품 코드</div>
                    <div class="mypage-table-right">[[${vo.productCode}]]</div>
                </div>
                <div class="mypage-table">
                    <div class="mypage-table-left">제품명</div>
                    <div class="mypage-table-right">[[${vo.productName}]]</div>
                </div>
                <div class="mypage-table">
                    <div class="mypage-table-left">단가</div>
                    <div class="mypage-table-right">[[${vo.price}]] 원</div>
                </div>
                <div class="mypage-table">
                    <div class="mypage-table-left">수량</div>
                    <div class="mypage-table-right">[[${vo.ea}]] 개</div>
                </div>
                <div class="mypage-table">
                    <div class="mypage-table-left">총액</div>
                    <div class="mypage-table-right">[[${vo.price*vo.ea}]] 원</div>
                </div>
                <div class="mypage-table">
                    <div class="mypage-table-left">날짜</div>
                    <div class="mypage-table-right">[[${vo.nal}]]</div>
                </div>
            </div>
            <div style="margin-top: 30px; display: flex; justify-content: right;">
                <div>
                    
                </div>
                <div>
                    <button type="button" class="purple-text-button btnList" style="letter-spacing: 4px; width: 90px; letter-spacing: 6px; height: 40px; margin-right: 15px;">목록</button>
                    <button type="button" class="purple-text-button btnModify" style="letter-spacing: 4px; width: 90px; letter-spacing: 6px; height: 40px; margin-right: 15px;">수정</button>
                    <button type="button" class="purple-text-button btnDelete" style="letter-spacing: 4px; width: 90px; letter-spacing: 6px; height: 40px;">삭제</button>
                </div>
            </div>
            <div style="height: 120px;"></div>
        </div>
        </div>
    </div>
</body>
</html>