<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
</head>
<body>
    <div class="products">
        <div class="purchase">
            <link rel="stylesheet" href="css/ojw/ojw.css">
            <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
            <script defer src="js/ojw_purchase.js"></script>
            
            <h1>구매정보</h1>
            <div class="list">
                <form name="frm" class="frm" method="post">
                    <input type="text" name="findStr" class="findStr">
                    <button type="button" class="btnSearch">검색</button>
                </form>
                <div class="title">
                    <span class="no">NO</span>
                    <span class="productCode">제품 코드</span>
                    <span class="productName">제품명</span>
                    <span class="price">단가</span>
                    <span class="ea">수량</span>
                    <span class="nal">날짜</span>
                    <span class="customer">거래처</span>
                    <span class="purchaseCode">구매 내역서</span>
                </div>
                <div class="items">
                    <div class="item" th:each="d : ${purchase}">
                        <span class="no" th:onclick="purchase_view([[${d.no}]])">[[${d.no}]]</span>
                        <span class="productCode" th:onclick="purchase_view([[${d.no}]])">[[${d.productCode}]]</span>
                        <span class="productName" th:onclick="purchase_view([[${d.no}]])">[[${d.productName}]]</span>
                        <span class="price" th:onclick="purchase_view([[${d.no}]])">[[${d.price}]]</span>
                        <span class="ea" th:onclick="purchase_view([[${d.no}]])">[[${d.ea}]]</span>
                        <span class="nal" th:onclick="purchase_view([[${d.no}]])">[[${d.nal}]]</span>
                        <span class="customer" th:onclick="purchase_view([[${d.no}]])">[[${d.customer}]]</span>
                        <span class="purchaselist" th:onClick="purchase_list([[${d.no}]])">보기</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>