<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="https:///code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script defer src="js/index.js"></script>
</head>
<body>
    <div class="products">
        <div class="purchase_view">
            <h2>구매 내역 상세 보기</h2>
            <hr>
            <table class="list_table">
                <tr>
                    <td>거래처</td>
                    <td colspan="2">[[${vo.customer}]]</td>
                </tr>
                <tr>
                    <td>제품 코드</td>
                    <td colspan="2">[[${vo.productCode}]]</td>
                </tr>
                <tr>
                    <td>제품명</td>
                    <td colspan="2">[[${vo.productName}]]</td>
                </tr>
                <tr>
                    <td>단가</td>
                    <td colspan="2">[[${vo.price}]]</td>
                </tr>
                <tr>
                    <td>수량</td>
                    <td colspan="2">[[${vo.ea}]]</td>
                </tr>
                <tr>
                    <td>총액</td>
                    <td colspan="2">[[${vo.price*vo.ea}]]</td>
                </tr>
                <tr>
                    <td>날짜</td>
                    <td colspan="2">[[${vo.nal}]]</td>
                </tr>
                <tr>
                    <td>구매 내역서</td>
                    <td colspan="2"><a href="purchase_list" style="border:none;">보기</a></td>
                </tr>
            </table>
            <br/>
            <button type="button" class="btnModify">수정</button>
            <button type="button" class="btnDelete">삭제</button>
            <button type="button" class="btnList">목록</button>
        </div>
    </div>
</body>
</html>