<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구매내역수정</title>
    <link rel="stylesheet" href="css/purchase_update.css">
    <script src="https:///code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script defer src="js/index.js"></script>
</head>
<body>
    <div class="products">
        <div class="purchase_update">
            <h2>구매 내역 수정</h2>
            <hr>
            <table class="list_update">
                <tr>
                    <td>거래처</td>
                    <td colspan="2">[[${vo.Customer}]]</td>
                </tr>
                <tr>
                    <td>제품 코드</td>
                    <td colspan="2">[[${vo.ProductCode}]]</td>
                </tr>
                <tr>
                    <td>제품명</td>
                    <td colspan="2">[[${vo.ProductName}]]</td>
                </tr>
                <tr>
                    <td>단가</td>
                    <td colspan="2">[[${vo.Price}]]</td>
                </tr>
                <tr>
                    <td>수량</td>
                    <td colspan="2"><input type="text" name="ea" th:value="${vo.ea}"></td>
                </tr>
                <tr>
                    <td>총액</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td>날짜</td>
                    <td colspan="2">[[${vo.Nal}]]</td>
                </tr>
            </table>
            <br/>
            <button type="button" class="btnRegisterR">저장</button>
            <button type="button" class="btnList">취소</button>
        </div>
    </div>
</body>
</html>