<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>purchase_list</title>
</head>
<body>
    <div class="products">
        <div class="purchase_list">
            <link rel="stylesheet" href="css/ojw/ojw.css">
            <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
            <script defer src="js/ojw_purchase.js"></script>
            <div class="list">
                <h2>구매 내역서</h2>
                <table class="table_list">
                    <tr>
                        <td>주문일</td>
                        <td colspan="3">[[${vo.p_nal}]]</td>
                    </tr>
                    <tr>
                        <td colspan="4">거 래 처 정 보</td>
                    </tr>
                    <tr>
                        <td>&nbsp;거래처 주소</td>
                        <td>[[${vo.customerAddress}]]</td>
                        <td>전화번호</td>
                        <td class="photenumber">[[${vo.customerBusinessNumber}]]</td>
                    </tr>
                    <tr>
                        <td>거래처명</td>
                        <td>[[${vo.customerClientName}]]</td>
                        <td>이메일</td>
                        <td class="email">[[${vo.customerEmail}]]</td>
                    </tr>
                    <tr>
                        <td>No.</td>
                        <td colspan="2" class="list_product">품목</td>
                        <td class="list_ea">수량</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td colspan="2" class="list_product">[[${vo.p_productName}]]</td>
                        <td class="list_ea">[[${vo.p_ea}]]</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td colspan="2" class="list_product"></td>
                        <td class="list_ea"></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td colspan="2" class="list_product"></td>
                        <td class="list_ea"></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td colspan="2" class="list_product"></td>
                        <td class="list_ea"></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td colspan="2" class="list_product"></td>
                        <td class="list_ea"></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td colspan="2" class="list_product"></td>
                        <td class="list_ea"></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td colspan="2" class="list_product"></td>
                        <td class="list_ea"></td>
                    </tr>
                    <tr>
                        <td>총액</td>
                        <td colspan="2">[[${vo.p_price*vo.p_ea}]]</td>
                    </tr>
                </table>
            </div>
            <button type="button" class="btnList">목록</button>
        </div>
    </div>
</body>
</html>