<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>purchase_list</title>
</head>
<body>
    <div class="products">
        <div class="purchase_list" style="margin-top: 80px; margin-bottom: 40px;">
            <link rel="stylesheet" href="css/ojw/ojw.css">
            <script defer src="js/ojw_purchase.js"></script>
            <div class="list">
                <h2 style="margin-top: 35px; margin-bottom: 35px;">구매 내역서</h2>
                <table class="table_list">
                    <tr>
                        <td>주문일</td>
                        <td colspan="3" style="letter-spacing: 2px;">[[${vo.p_nal}]]</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="letter-spacing: 7px; font-size: 15px;">거래처정보</td>
                    </tr>
                    <tr>
                        <td>&nbsp;거래처 주소</td>
                        <td style="font-weight: 200; letter-spacing: 2px;">[[${vo.customerAddress}]]</td>
                        <td>전화번호</td>
                        <td class="photenumber" style="font-weight: 200; letter-spacing: 2px;">[[${vo.customerBusinessNumber}]]</td>
                    </tr>
                    <tr>
                        <td>거래처명</td>
                        <td style="font-weight: 200; letter-spacing: 2px;">[[${vo.customerClientName}]]</td>
                        <td>이메일</td>
                        <td class="email" style="font-weight: 200; letter-spacing: 2px;">[[${vo.customerEmail}]]</td>
                    </tr>
                    <tr>
                        <td>No.</td>
                        <td colspan="2" class="list_product">품목</td>
                        <td class="list_ea">수량</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td colspan="2" class="list_product">[[${vo.p_productName}]]</td>
                        <td class="list_ea">[[${vo.p_ea}]]</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td colspan="2" class="list_product"></td>
                        <td class="list_ea"></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td colspan="2" class="list_product"></td>
                        <td class="list_ea"></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td colspan="2" class="list_product"></td>
                        <td class="list_ea"></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td colspan="2" class="list_product"></td>
                        <td class="list_ea"></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td colspan="2" class="list_product"></td>
                        <td class="list_ea"></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td colspan="2" class="list_product"></td>
                        <td class="list_ea"></td>
                    </tr>
                    <tr>
                        <td>총액</td>
                        <td colspan="2">[[${vo.p_price*vo.p_ea}]]</td>
                    </tr>
                </table>
            </div>
            <div style="display: flex; justify-content: center; margin-top: 30px; margin-bottom: 10px;">
                <button type="button" class="purple-text-button btnList" style="margin-right: 20px;">목록</button>
                <button type="button" class="purple-text-button" onclick="window.print()">인쇄</button>
            </div>
        </div>
    </div>
</body>
</html>