body{
    background-color:#121216; 
}
h1{
    margin-left: 100px;
    color:white;
}
input{
  width:80%;
  height:600px;
  margin-left:10%;
  border: 1px solid #8753fb;
  background-color: #1e202b;
  color: white;
}
button{
    float:right;
    width:60px;
    height:30px;
    margin-left:10px;
    margin-top:10px;
    color:white;
    outline: none;
    border:1px solid white;
    background-color: #8753fb;
    border-radius: 5px;
    cursor: pointer;
}
