/*-------msm css----------*/
body{
    background-color: #1e202b;
}
.topContainer{
    background-color: #1e202b;
    color:white;  
}
.title{
    width:100%;
}
.topTitle{
    font-size:50px;
    color:white;
    float:right;
}
.search-wrap{
    height:30px;
    width:100%;
    margin-left:1210px;
}
.search input{ 
    width: 350px;
    height: 40px;
    border: 1px solid #1e202b;
    border-bottom: 1px solid #8753fb;
    background-color: #1e202b;
    box-shadow: none;
    color:white;
}
.btnSearch{
    width:60px;
    height:40px;
    margin-top:10px;
    border: 1px solid #8753fb;
    background-color: #8753fb;
    color: white;
}
.board-table {
    font-size: 14px;
    width: 100%;
    margin-top: 30px;   
}
.qaTitle{
    padding: 14px 0;
    color:white;  
    font-size:20px;
}
.qaTitle span{
    text-align: center;
}
.qaTitle{
    background-color:#8753fb;
    border-bottom:1px solid white;
}
.board-table .num{
    display:inline-block;
    width:10%;
    text-align: center;
}
.title{
    display:inline-block;
    width:50%;
    text-align: center;
}
.link{
    display:inline-block;
    width:50%;
    text-align: center;
}
.writer{
    display:inline-block;
    width:15%;
    text-align: center;
}
.date{
    display:inline-block;
    width:17%;
    text-align: center;
}
.view{
    display:inline-block;
    width:10%;
    text-align: center;
}
.qaItems{
    border-bottom:1px solid white;
    font-size: 16px;   
    height:40px;
    line-height:40px;
}
.btnAdd{
    margin-top: 10px;
    border:1px solid #1e202b;
    background-color: #8753fb;
    color:white;
    float:right;
    width:70px;
    height:35px;
}
.btnMain{
    margin-right: 5px;
    margin-top: 10px;
    border:1px solid #1e202b;
    background-color: #8753fb;
    color:white;
    float:right;
    width:70px;
    height:35px;
}
.addQuestion{
    border:1px solid #1e202b;
    background-color: #8753fb;
    color:white;
    float:right;
    font-size:14px;
    width:130px;
    height:40px;
    margin-right:100px;
    margin-top:50px;
}
