.noticeView {
    width: 60%;
    margin: auto;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 10px;
}
.header .title {
    font-size: 24px;
    font-weight: bold;
}
.header .subInfo {
    font-size: 14px;
    color: #666;
}
.content {
    margin-top: 20px;
    font-size: 18px;
}
.navi {
    margin-top: 20px;
}
.btnZone {
    margin-top: 20px;
}
.btnZone button {
    margin-right: 10px;
}