.noticeRegist {
    width: 80%;
    margin: 0 auto;
}
.frmRegister {
    margin-bottom: 15px;
}
.frmRegister label {
    display: block;
    margin-bottom: 5px;
    color: black;
}
.frmRegister input, .frmRegister #post-form #summernote {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color : var(--purple);
}
.frmRegister input[type="checkbox"] {
    width: auto;
}
.frmRegister #post-form #summernote {
    resize: none;
    height: 600px;
}
.registerButton {
    text-align: right;
}